# TASK2

In [134]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=2)
pd.set_option('display.max.columns', 100)

In [135]:
data = pd.read_csv('./mlcourse.ai/data/adult.data.csv')

In [149]:
data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [137]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [138]:
#1 How many men and women (sex feature) are represented in this dataset?
data.groupby('sex').count()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,salary
sex,,,,,,,,,,,,,,
Female,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771
Male,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790

In [139]:
# Вот так лучше
pd.crosstab(data['sex'], data['sex'].count())

col_0   32561
sex
Female  10771
Male    21790

In [140]:
# 2 What is the average age (age feature) of women?
data[data['sex'] == 'Female'].age.mean()

36.85823043357163

In [144]:
# 3 What is the percentage of German citizens (native-country feature)?
allpeople = data.count()
germans = data[data['native-country'] == 'Germany'].count()
print('German people % : ', germans / allpeople * 100)

German people % :  age               0.420749
workclass         0.420749
fnlwgt            0.420749
education         0.420749
education-num     0.420749
marital-status    0.420749
occupation        0.420749
relationship      0.420749
race              0.420749
sex               0.420749
capital-gain      0.420749
capital-loss      0.420749
hours-per-week    0.420749
native-country    0.420749
salary            0.420749
dtype: float64

In [157]:
# 4-5 What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?
data[data['salary'] == '>50K']['age'].mean(), \
data[data['salary'] == '<=50K']['age'].mean()

(44.24984058155847, 36.78373786407767)

In [156]:
data[data['salary'] == '>50K']['age'].std(), \
data[data['salary'] == '<=50K']['age'].std()

(10.51902771985177, 14.020088490824813)

In [ ]:
# 6 Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [177]:
# 7 Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.
data.groupby('race')['age'].describe(), \
data.groupby('sex')['age'].describe()
#maximum age = 82

(                      count       mean        std   min   25%   50%   75%  \
 race
 Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
 Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
 Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
 Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
 White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                      max
 race
 Amer-Indian-Eskimo  82.0
 Asian-Pac-Islander  90.0
 Black               90.0
 Other               77.0
 White               90.0  ,
           count       mean        std   min   25%   50%   75%   max
 sex
 Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
 Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0)

In [ ]:
# 8 Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [180]:
# 9 What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?
data['hours-per-week'].max()

99

In [181]:
data[data['hours-per-week'] == 99].count()

age               85
workclass         85
fnlwgt            85
education         85
education-num     85
marital-status    85
occupation        85
relationship      85
race              85
sex               85
capital-gain      85
capital-loss      85
hours-per-week    85
native-country    85
salary            85
dtype: int64

In [182]:
data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')].count()

age               25
workclass         25
fnlwgt            25
education         25
education-num     25
marital-status    25
occupation        25
relationship      25
race              25
sex               25
capital-gain      25
capital-loss      25
hours-per-week    25
native-country    25
salary            25
dtype: int64

In [188]:
# in %:
print(data[(data['hours-per-week'] == 99) & (data['salary'] == '>50K')].count() / data[data['hours-per-week'] == 99].count() * 100)

age               29.411765
workclass         29.411765
fnlwgt            29.411765
education         29.411765
education-num     29.411765
marital-status    29.411765
occupation        29.411765
relationship      29.411765
race              29.411765
sex               29.411765
capital-gain      29.411765
capital-loss      29.411765
hours-per-week    29.411765
native-country    29.411765
salary            29.411765
dtype: float64

In [207]:
# 10 Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?
# data.groupby('salary')['salary'].count()
[data['salary'] == '<50K'].count()

TypeError: count() takes exactly one argument (0 given)

In [ ]:
# 11 Какой процент мужчин (от всех мужчин) и женщин (от всех женщин), работающих в государственных компаниях, получает >50K?  

# 12Среди людей, получающих <=50K, какова медиана количества рабочих часов? А если посчитать отдельно по мужчинам и отдельно по женщинам? 

#13 Среди всех высокооплачиваемых людей (>50K) больше людей с высшим образованием, которые работают больше 50 часов в неделю и тех, кто не имеет высшего образование и работает не больше 50 часов в неделю?